.player-container {
   margin-top: 10px;
   position: relative;
}

.row.player-text-1 {
   padding-top: 60px;
   padding-bottom: 60px;
   margin-top: 10px;
}

.row.player-text-2 {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #f5f4f9;
}

.row.player-text-3 {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #090c35;
}

.player-text-container {
   position: relative;
   padding-right: 60px;
   padding-left: 322px;
}

.row.player-slideshow {
   display: none;
}

@media (max-width: 1400px) {
   .player-container {
      height: 655px;
   }

   .row.player-text-1 {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 15px;
   }

   .row.player-text-2 {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .row.player-text-3 {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .player-text-container {
      padding-left: 30px;
      padding-right: 30px;
   }
}

@media (max-width: 767px) {
   .player-container {
      margin-top: 20px;
      height: 496px;
   }

   .row.player-text-1 {
      display: none;
   }

   .row.player-text-2 {
      display: none;
   }

   .row.player-text-3 {
      display: none;
   }

   .row.player-slideshow {
      display: block;
      position: relative;
      height: 217px;
      top: -28px;
      background-color: #f5f4f9;
   }
}
